body{
  background-image: url("BG.jpg");

}
.heading{
  font-size: 55px;
  color: #afb9c8;
  margin-left: 370px;
}

.mainpara{
  font-size: 25px;
  color: #d8e3e7;
  margin-left: 385px;
}

.heading3{
  font-size: 25px;
  color: #d8e3e7;
  margin-left: 580px;
}
.heading2{
  color: #d8e3e7;
  margin-left: 610px;
}
.ha{
  color: #d8e3e7;
  margin-left: 310px;
}
.heading3:active{
  color: #d8e3e7;

}
